- model_class = Content
.page-header
  %h1 Фильмы
=will_paginate @contents

%table.table.table-striped
  %thead
    %tr
      %th Название
      %th Кол-во файлов
  %tbody
    - @contents.each do |content|
      %tr
        %td= link_to content.name, content_path(content)
        %td= content.video_files.count
        %td
          = link_to 'Изменить', edit_content_path(content), :class => 'btn btn-mini'
          = link_to 'Добавить внешние ссылки', content_path(content), :class => 'btn btn-mini'
          = link_to 'Удалить', content_path(content), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini'

= link_to 'Добавить новый', new_content_path, :class => 'btn btn-primary'
