-if user_signed_in?
  = render partial: 'admin'

.row
  .span2
    -if @content.image.present?
      = image_tag @content.image.html_safe, class: :icon
  .span4
    %h4
      = @content.name
    -if @content.description.present?
      =@content.description.html_safe
  .span2#rating
    Рейтинг
    -if @content.rating.present?
      =@content.rating.html_safe
%br
.row
  .span6
    -if @content.info.present?
      =@content.info.html_safe
  .span6
    -unless @content.video_files.empty?
      .muted.centered
        Этот фильм есть во внутренней сети
      %h3.centered
        Скачать
      -@content.video_files.each do |file|
        =link_to "#{file.internal_name} (#{file.size}ГБ, #{file.quality})", file.internal_url, class: 'btn btn-info download'