- model_class = VideoFile
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:internal_name) + ':'
  %br
  = @video_file.internal_name
%p
  %strong= model_class.human_attribute_name(:internal_url) + ':'
  %br
  = @video_file.internal_url
%p
  %strong= model_class.human_attribute_name(:external_name) + ':'
  %br
  = @video_file.external_name
%p
  %strong= model_class.human_attribute_name(:external_url) + ':'
  %br
  = @video_file.external_url
%p
  %strong= model_class.human_attribute_name(:quality) + ':'
  %br
  = @video_file.quality
%p
  %strong= model_class.human_attribute_name(:year) + ':'
  %br
  = @video_file.year
%p
  %strong= model_class.human_attribute_name(:size) + ':'
  %br
  = @video_file.size

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), video_files_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_video_file_path(@video_file), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), video_file_path(@video_file), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
