%h3 Загрузки

%table.table.table-striped
  %thead
    %tr
      %th Название
      %th Сайт
      %th Дата
      %th IP
  %tbody
    -@downloads.each do |download|
      %tr
        %td= download.link.content.name
        %td{title: download.link.url, class: 'tt'}= download.link.site.name
        %td= download.time.to_formatted_s(:short)
        %td= download.remote_ip

= link_to 'К списку сайтов', sites_path, class: 'btn'
= link_to 'К списку файлов', contents_path, class: 'btn'

= link_to 'Статистика посещений', stats_choose_dates_path, class: 'btn'
