%h3 Загрузки

%table.table.table-striped
  %thead
    %tr
      %th Название
      %th Сайт
      %th Дата
      %th IP
  %tbody
    -@visits.each do |visit|
      %tr{class: visit.is_click? ? 'success' : ''}
        -if visit.is_click? || visit.link.present?
          %td= visit.link.content.name
          %td{title: visit.link.url, class: 'tt'}= visit.link.site.name
          %td= visit.time.to_formatted_s(:short)
          %td= visit.remote_ip
        -else
          %td= link_to visit.url || 'localhost', visit.url
          %td= visit.film
          %td= visit.time.to_formatted_s(:short)
          %td= visit.remote_ip

= link_to 'К списку сайтов', sites_path, class: 'btn'
= link_to 'К списку файлов', contents_path, class: 'btn'

= link_to 'Статистика посещений', stats_choose_dates_path, class: 'btn'
