%h3 Внешние ссылки
.paginate.pagination-centered
  =will_paginate @links
%table.table.table-striped
  %thead
    %tr
      %th Адрес
      %th Фильм
      %th Кол-во файлов

  %tbody
    - @links.each do |link|
      %tr
        %td= link_to link.url, link.url, target: '_blank'
        %td= link_to link.content.name, content_path(link.content)
        %td= link.content.video_files.count
        %td
          = link_to 'Изменить', edit_link_path(link), :class => 'btn btn-mini'
          = link_to 'Удалить', link_path(link), :method => :delete, :data => { :confirm => 'Удалить?' }, :class => 'btn btn-mini btn-danger'

= link_to 'К списку сайтов', sites_path, :class => 'btn'
= link_to 'К списку файлов', contents_path, :class => 'btn'
