%h3 Статистика
-if @is_started
  Сервис сейчас запущен
-else
  Сервис остановлен
%hr
= form_tag outgrader_change_ip_path, class: 'form-horizontal' do
  .control-group
    =label_tag 'Адрес сервера'
    =text_field_tag :ip, @ip
    =submit_tag 'Изменить', :class => 'btn'

.form-actions
  = link_to 'Старт', outgrader_start_path, class: 'btn', disabled: @is_started
  = link_to 'Стоп', outgrader_stop_path, class: 'btn', disabled: !@is_started
  = link_to 'Перезапуск', outgrader_restart_path, class: 'btn', disabled: !@is_started
  = link_to 'Принудительная остановка', outgrader_kill_path, class: 'btn', disabled: !@is_started
